name: Process Commit

on:
  push:
    branches: ["main"]

jobs:
    process-commit:
        name: Process Commit
        runs-on: ubuntu-latest
        permissions: write-all
        steps:
          - name: Checkout
            uses: actions/checkout@v4
            with:
              fetch-depth: 0
          - name: Install dependencies
            run: go install github.com/packwiz/packwiz@latest
          - name: Process commit
            run: ${{ github.workspace }}/.github/scripts/process-commit.sh
    publish:
        needs: process-commit
        uses: ./.github/workflows/publish.yml