name: Publish Modpack

on:
  push:
    tags: ['*']

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install dependencies
        run: go install github.com/packwiz/packwiz@latest
      - name: Generate Changelog
        id: changelog
        run: ${{ github.workspace }}/.github/scripts/create-changelog.sh
      - name: Get Tag Name
        id: get_tag
        run: git tag | tail -n 1
      - name: Build Modpack
        run: ~/go/bin/packwiz modrinth export -o "Apollo-${{ steps.get_tag.outputs.* }}.mrpack"
      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
            name: "Apollo-${{ steps.get_tag.outputs.* }}.mrpack"
            path: "Apollo-${{ steps.get_tag.outputs.* }}.mrpack"
      - uses: Kir-Antipov/mc-publish@v3.3
        with:
          changelog: ${{ steps.changelog.outputs.* }}
          files: "*.mrpack"
          github-token: ${{ secrets.GITHUB_TOKEN }}
          github-tag: ${{ steps.get_tag.outputs.* }}
          github-version-type: release
          modrinth-id: CWFVvUtu
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}