name: Publish Modpack

on:
  release:
    types: ["published"]

jobs:
  publish:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
            xbps-install xbps -Syu
            xbps-install go -y
            go install github.com/packwiz/packwiz@latest
      - name: Test commit
        run: ~/go/bin/packwiz modrinth export -o "Apollo-${{ github.event.release.tag_name }}.mrpack"
      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
            name: "Apollo-${{ github.event.release.tag_name }}.mrpack"
            path: "Apollo-${{ github.event.release.tag_name }}.mrpack"
      - uses: Kir-Antipov/mc-publish@v3.3
        with:
          files: "Apollo-${{ github.event.release.tag_name }}.mrpack"
          github-token: ${{ secrets.GITHUB_TOKEN }}
          modrinth-id: CWFVvUtu
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}