name: Test Commit

on:
  push:
    branches: ["main"]
    paths-ignore: [".gitattributes", ".gitignore", "LICENSE"]

jobs:
    process-commit:
        name: Process Commit
        runs-on: ubuntu-latest
        if: "!contains(format('{0} {1}', github.event.head_commit.message, github.event.pull_request.title), '[ci-skip]')"
        permissions:
            contents: write
        steps:
          - name: Checkout
            uses: actions/checkout@v4
            with:
              fetch-depth: 0
          - name: Install dependencies
            run: go install github.com/packwiz/packwiz@latest
          - name: Process commit
            run: ${{ github.workspace }}/.github/scripts/process-commit.sh
    publish:
        name: Publish
        needs: process-commit
        uses: ./.github/workflows/publish.yml